/* 所有 */
a{
    text-decoration:none;
    font-family:sans-serif;
    color:rgb(51, 51, 51);
}
body{
    font-family: sans-serif;
    padding-top:80px;
    background:rgb(248, 249, 248);
}


/* 顶部导航 */
header{
    width:100%;
    position: fixed;
    top: 0;
    background:white;
    z-index:3;
}
nav{
    height:80px;
    width: 1200px;
    margin:auto;
    display: flex;
    justify-content:space-between;
}
nav a{
    font-size:18px;
}
.nav_l,.nav_r{
    display: flex;
    line-height:80px;
}
/* 导航左 */
.combo{
    padding: 0 14px;
    margin-left:10px;
    border-left:1px solid transparent;
    border-right:1px solid transparent;
    position: relative;
}
.combo:hover{
    border-left:1px solid #d8d8d8;
    border-right:1px solid #d8d8d8;
}
.combo>i{
    content:'';
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 4px;
    vertical-align: middle;
    border-top: 5px solid #666;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    transition: all linear 0.2s;
}
.combo:hover i{
    transform: rotate(180deg);
}
.welcome,.welcome+i{
    cursor: default;
}
nav ol{
    display: none;
    position: absolute;
    line-height:20px;
    width:200px;
    margin-left:-15px;
    margin-top:-1px;
    border:1px solid #d8d8d8;
    background:white;
}
nav ol>li{
    float: left;
    margin:10px;
    padding: 5px;
}
.combo:hover ol{
    display: block;
}
nav ol>li:hover{
    background:rgb(239, 66, 59);
}
nav ol>li:hover a{
    color:white;
}
.nav_h>a{
    display: block;
    padding: 0 22px;
}
.nav_h>a:hover,.nav>a:focus{
    background:rgb(239, 66, 59);
}
.nav_h:hover a{
    color:white;
}
.nav_h_1{
    margin-left:30px;
}
.nav_h_2>a{
    background:rgb(239, 66, 59);
    color:white;
}
/* 导航右 */
.nav_r input[type="text"]{
    padding-left:20px;
    padding-right:40px;
    box-sizing:border-box;
    font-size: 14px;
    background:rgb(250, 248, 250);
    width:260px;
    height:41px;
    outline:0;
    border:1px solid rgb(204, 204, 204);
    border-radius:30px;
}
.nav_r input[type="submit"]{
    background-image: url("../img/sprite_webpage.png");
    width:40px;
    height:40px;
    outline:0;
    border:0;
    border-radius:50%;
    vertical-align:middle;
    margin-left:-45px;
    margin-top: -.5px;
    background-color: #ef4238;
    cursor: pointer;
}
.nav_r>li>a>img{
    width:40px;
}
.nav_r>li>ol{
    width:135px;
    margin-left:-15px;
}
/* 中间部分 */
/* 灰色条 */
.gray_block{
    background:rgb(71, 70, 74);
}
.gray_block_con{
    height:60px;
    line-height:60px;
    width:358px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    font-size:18px;
}
.gray_block_con>li{
    cursor: pointer;
    position: relative;
    color:rgb(153, 153, 153);
}

.gray_block_con>li:hover{
    color:rgb(239, 66, 59)!important;
}
.to_top{
    content:'';
    display: none;
    border-bottom: 10px solid rgb(248, 249, 248);
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: 0;
    right: 28px;
}
.gray_block_con>li:hover .to_top{
    display: inline-block !important;
}


/* 电影列表 */
.middle{
    width:1122px;
    margin:43px auto 0;
}
.find_container{
    border:1px solid rgb(229, 229, 229);
    padding: 0 20px;
    box-sizing: border-box;
    width: 1100px;
}
.movie_list{
    padding-top:20px;
}
.movie_list>span{
    width:50px;
    font-size:16px;
    color:rgb(162, 156, 153);
}
.movie_list,.movie_list_con{
    display: flex;
}
.movie_list{
    align-items:baseline;
}
.movie_list_con{
    width:1000px;
    flex-wrap:wrap;
    border-bottom:1px dashed rgb(229, 229, 229);
}
.movie_list_con>li{
    cursor: pointer;
    margin-bottom: 15px;
    font-size:16px;
    margin:10px;
    padding:4px 8px;
    border-radius: 30px;
}
.movie_list_con>li:hover{
    background:rgb(239, 66, 59)!important;
    color:white!important;
}

.movie_list:last-child>.movie_list_con{
    border-bottom:0;
}
/* 电影图片 */
.movie_img{
    margin-top: 45px;
}
.movie_img>div:first-child{
    display: flex;
    font-size:16px;
    margin-bottom: 24px;
}
.movie_img>div>span{
    margin-right:40px;
    margin-left: 10px;
    cursor: pointer;
}
.white_point{
    cursor: pointer;
    display: inline-block;
    width:15px;
    height:15px;
    border-radius:50%;
    border:1px solid #BFBEBE;
    position: relative;
    top: 2.5px;
}
.red_point{
    display: none;
    cursor: pointer;
    width:6px;
    height:6px;
    border-radius:50%;
    border:5px solid rgb(239, 66, 59);
    position: relative;
    top: 3px;
    margin-left: -16.5px;
}
.movie_img_1{
    display: flex;
    flex-wrap: wrap;
}
.movie_img_1>figure{
    margin: 0 14px 25px;
}
.movie_img_1>figure:first-child,.movie_img_1>figure:nth-child(7),.movie_img_1>figure:nth-child(13),.movie_img_1>figure:nth-child(19),.movie_img_1>figure:nth-child(25){
    margin-left: 0;
}
.movie_img_1>figure:last-child,.movie_img_1>figure:nth-child(6),.movie_img_1>figure:nth-child(12),.movie_img_1>figure:nth-child(18),.movie_img_1>figure:nth-child(24),.movie_img_1>figure:nth-child(30){
    margin-right: 0;
}
.movie_img_1>figure>figcaption{
    margin-top: 10px;
    text-align:center;
    font-size:16px;
}
.movie_img_1>figure>figcaption>p{
    margin-top:15px;
}
.movie_img_1{
    margin-bottom: 30px;
}
.movie_img_1>figure>figcaption>p>span{
    font-size: 18px;
    color: rgb(255, 180, 0);
    font-style:italic;
}
.movie_img_1>figure>figcaption>p>span:last-child{
    font-size:14px;
}
.movie_img_1>figure>a>img:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    position: relative;
    top: -1px;
}
.blue_box{
    position: relative;
}
.blue_box>a>img{
    width: 160px;
    height: 220px;
}
.blue_label{
    content:"";
    display: inline-block;
    position: absolute;
    height:24px;
    width:68px;
    top: 3px;
    left:-3px;
}
.blue_label_1{
    background-image: url("../img/2dimax.png");
}
.blue_label_2{
    width:30px;
    background-image: url("../img/3d.png");
}
.blue_label_3{
    background-image: url("../img/3dmax.png");
}
/* 页码 */
.pages{
    display: flex;
    justify-content:center;
}
.pages{
    font-size:12px;
}
.pages>li{
    padding:0 12px;
    height:30px;
    margin:5px;
    text-align:center;
    border:1px solid rgb(216, 216, 216);
    line-height:30px;
}
.click_page:hover,.to_up:hover,.to_down:hover{
    background: rgb(239, 66, 59)!important;
    cursor: pointer;
    color:white!important;
}
/* footer */
footer{
    width:100%;
    margin-top:100px;
    height:150px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    background:rgb(38, 36, 38);
    text-align:center;
    font-size:14px;
    color:rgb(102, 102, 102);
}
footer>p{
    margin:5px 0;
}
.cat>a>img{
    width:72px;
    height: 121px;
    right: 0;
    position:fixed;
    animation: cat linear 3s infinite;

}
@keyframes cat{
    0%{
        bottom: 200px;
    }
    50%{
        bottom: 100px;
    }
    100%{
        bottom: 200px;
    }
}